* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
selection {
  background: #b3d4fc;
  text-shadow: none;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
/*
* Structural classes *
*/
.overlay {
  width: 100%;
  background: #000;
  height: 100%;
  opacity: 0.5;
  position: fixed;
  z-index: 999;
  display: none;
  top: 0;
  left: 0;
}
.main-container {
  margin: 60px auto 10px auto;
}
.panel {
  display: none;
  padding: 10px 10px;
}
.panel header {
  margin: 0 0;
  padding: 0 0;
}
.panel header > * {
  margin: 0 0;
}
.panel.active {
  display: block;
}
.panel-body {
  padding: 10px 10px;
}
/*
* Main classes *
*/
.top {
  background: #bbb;
  display: table;
  padding: 0;
  height: 40px;
  width: 100%;
  position: fixed;
  top: 0;
  -webkit-box-shadow: 0px 4px 12px -2px rgba(50,50,50,0.75);
  -moz-box-shadow: 0px 4px 12px -2px rgba(50,50,50,0.75);
  box-shadow: 0px 4px 12px -2px rgba(50,50,50,0.75);
}
.top > * {
  margin: 0 0;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
}
.top .open-menu {
  text-transform: uppercase;
  text-align: center;
  width: 10%;
  background: #888;
  color: #fff;
  font-weight: bold;
}
.main-menu {
  width: 80%;
  background: #000;
  height: 100%;
  position: fixed;
  z-index: 9999;
  color: #fff;
  padding: 15px 15px;
  display: none;
  left: -99999px;
  top: 0;
}
.main-menu .close-menu {
  display: block;
  width: 100%;
  text-align: right;
}
.main-menu .close-icon {
  display: inline-block;
  background: #bbb;
  padding: 10px 10px;
  font-weight: bold;
  color: #fff;
}
.main-menu .menu {
  padding-left: 0px;
  font-size: 1.2em;
}
.main-menu .menu li {
  list-style: none;
}
.main-menu .menu a {
  color: #fff;
  font-weight: bold;
  padding: 10px 10px;
  display: block;
  border-bottom: 1px solid #444;
  text-decoration: none;
}
.main-menu .menu a:active {
  background: #444;
  padding-left: 2px;
  border-left: 8px solid #03f;
}
#customsplit,
.show-custom {
  display: none;
}
.show {
  display: block;
}
/* ************* */
